# 1.Importing libraries and Loading Dataframe

In [48]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import folium
import json

In [49]:

%matplotlib inline

In [50]:
path = r'C:\Users\marig\OneDrive\√Årea de Trabalho\curso arbeitsamt\data immersion\achievement 6\data sources\final project\Data\Prepared Data'

In [51]:
food_df = pd.read_csv (os.path.join (path, 'food_safety_cdc_2.csv'), index_col = 0)

In [75]:
food_df.head()

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Setting,Illnesses,Hospitalizations,Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category
0,2011,1,Ohio,Food,NaN,NaN,Restaurant - Sit-down dining,2,0.0,0.0,pie,NaN,Multiple
1,2011,1,Ohio,Food,Norovirus Genogroup II,GII.4 New Orleans,Restaurant - Sit-down dining,2,0.0,0.0,NaN,NaN,NaN
2,2011,1,Virginia,Food,Norovirus,NaN,Restaurant - Sit-down dining,7,0.0,0.0,NaN,NaN,NaN
3,2011,1,Texas,Food,NaN,NaN,NaN,2,0.0,0.0,NaN,NaN,NaN
4,2011,1,Colorado,Food,Norovirus unknown,NaN,Grocery store,8,1.0,0.0,mixed fruit,NaN,Fruits

# 2. Data Cleaning

In [76]:
# Droping columns with lots of NaN data that are not analysis relevant
food_df.drop ('Serotype or Genotype', axis = 1, inplace = True)

In [79]:
food_df.drop ('Food Vehicle', axis = 1, inplace = True)

In [80]:
food_df.drop ('Food Contaminated Ingredient', axis = 1, inplace = True)

In [82]:
food_df.head()

,Year,Month,State,Primary Mode,Etiology,Setting,Illnesses,Hospitalizations,Deaths,IFSAC Category
0,2011,1,Ohio,Food,NaN,Restaurant - Sit-down dining,2,0.0,0.0,Multiple
1,2011,1,Ohio,Food,Norovirus Genogroup II,Restaurant - Sit-down dining,2,0.0,0.0,NaN
2,2011,1,Virginia,Food,Norovirus,Restaurant - Sit-down dining,7,0.0,0.0,NaN
3,2011,1,Texas,Food,NaN,NaN,2,0.0,0.0,NaN
4,2011,1,Colorado,Food,Norovirus unknown,Grocery store,8,1.0,0.0,Fruits

In [84]:
# Replacing NaN values on IFSAC column to Unknow (in these cases the food responsable for the outbrake was not diagnosticated)
food_df ['IFSAC Category'] = food_df['IFSAC Category'].fillna('Unknow')

In [88]:
# Replacing NaN values on Etiology and Setting columns to Unknow (the responsable pathogens and setting places were not diagnosticated) - This is important to show
# How oft lack of diagnostic is in this kind of disease.
food_df ['Etiology'] = food_df['Etiology'].fillna('Unknow')
food_df ['Setting'] = food_df['Setting'].fillna('Unknow')

In [89]:
food_df.head()

,Year,Month,State,Primary Mode,Etiology,Setting,Illnesses,Hospitalizations,Deaths,IFSAC Category
0,2011,1,Ohio,Food,Unknow,Restaurant - Sit-down dining,2,0.0,0.0,Multiple
1,2011,1,Ohio,Food,Norovirus Genogroup II,Restaurant - Sit-down dining,2,0.0,0.0,Unknow
2,2011,1,Virginia,Food,Norovirus,Restaurant - Sit-down dining,7,0.0,0.0,Unknow
3,2011,1,Texas,Food,Unknow,Unknow,2,0.0,0.0,Unknow
4,2011,1,Colorado,Food,Norovirus unknown,Grocery store,8,1.0,0.0,Fruits

# 3. Grouping data

In [90]:
# Giving id numbers for the pathogens (etiology)
food_df['Etiology_id'] = pd.factorize(food_df['Etiology'])[0]

In [91]:
food_df.head(10)

,Year,Month,State,Primary Mode,Etiology,Setting,Illnesses,Hospitalizations,Deaths,IFSAC Category,Etiology_id
0,2011,1,Ohio,Food,Unknow,Restaurant - Sit-down dining,2,0.0,0.0,Multiple,0
1,2011,1,Ohio,Food,Norovirus Genogroup II,Restaurant - Sit-down dining,2,0.0,0.0,Unknow,1
2,2011,1,Virginia,Food,Norovirus,Restaurant - Sit-down dining,7,0.0,0.0,Unknow,2
3,2011,1,Texas,Food,Unknow,Unknow,2,0.0,0.0,Unknow,0
4,2011,1,Colorado,Food,Norovirus unknown,Grocery store,8,1.0,0.0,Fruits,3
5,2011,1,Wyoming,Food,Norovirus Genogroup II,Restaurant - other or unknown type,24,0.0,0.0,Multiple,1
6,2011,1,Illinois,Food,Salmonella enterica,Unknow,29,3.0,0.0,Unknow,4
7,2011,1,Minnesota,Food,Norovirus Genogroup I,Restaurant - Sit-down dining,3,0.0,0.0,Unknow,5
8,2011,1,Minnesota,Food,Norovirus Genogroup I,Restaurant - Sit-down dining,22,1.0,0.0,Unknow,5
9,2011,1,New York,Food,"Escherichia coli, Shiga toxin-producing",Private home/residence,2,1.0,0.0,Game,6

In [92]:
# Confirming which Id was defined for which pathogen
food_df[['Etiology','Etiology_id']]

                     Etiology  Etiology_id
0                      Unknow            0
1      Norovirus Genogroup II            1
2                   Norovirus            2
3                      Unknow            0
4           Norovirus unknown            3
...                       ...          ...
8698  Cyclospora cayetanensis           29
8699      Salmonella enterica            4
8700      Salmonella enterica            4
8701   Listeria monocytogenes           32
8702                   Unknow            0

[8703 rows x 2 columns]

In [93]:
# Establishing the counts of pathogens to see the 10 most commun pathogens

etiology_grouped = food_df.groupby(['Etiology', 'Etiology_id']).size().reset_index(name='count')

In [95]:
etiology_grouped.sort_values (by = 'count', ascending = False).head(10)

                                    Etiology  Etiology_id  count
227                                   Unknow            0   2031
172                      Salmonella enterica            4   1295
124                   Norovirus Genogroup II            1   1137
141                        Norovirus unknown            3    682
110                                Norovirus            2    530
48                   Clostridium perfringens           10    298
90   Escherichia coli, Shiga toxin-producing            6    297
111                    Norovirus Genogroup I            5    279
22                      Campylobacter jejuni            7    191
42                                Ciguatoxin           15    177

In [96]:
# Giving id numbers for the IFSAC categories
food_df['IFSAC_id'] = pd.factorize(food_df['IFSAC Category'])[0]

In [97]:
# Confirming which Id was defined for which pathogen
food_df[['IFSAC Category','IFSAC_id']]

     IFSAC Category  IFSAC_id
0          Multiple         0
1            Unknow         1
2            Unknow         1
3            Unknow         1
4            Fruits         2
...             ...       ...
8698         Unknow         1
8699         Unknow         1
8700         Unknow         1
8701         Unknow         1
8702         Unknow         1

[8703 rows x 2 columns]

In [101]:
# Establishing the counts of IFSAC categories to see the 10 most commun food sources

IFSAC_grouped = food_df.groupby(['IFSAC Category', 'IFSAC_id']).size().reset_index(name='count')

In [102]:
IFSAC_grouped.sort_values (by = 'count', ascending = False).head(10)

         IFSAC Category  IFSAC_id  count
26               Unknow         1   5074
13             Multiple         0   1485
5                  Fish        11    394
12             Mollusks        10    246
1               Chicken         4    229
3                 Dairy        14    184
0                  Beef         9    145
20                 Pork        12    131
27  Vegetable Row Crops         6    125
6                Fruits         2    122

In [103]:
# Relating pathogens to IFSAC categories

IFSAC_etiology = food_df.groupby(['Etiology', 'Etiology_id', 'IFSAC Category', 'IFSAC_id']).size().reset_index(name='count')

In [105]:
IFSAC_etiology.sort_values (by = 'count', ascending = False).head(30)

,Etiology,Etiology_id,IFSAC Category,IFSAC_id,count
585,Unknow,0,Unknow,1,1508
306,Norovirus Genogroup II,1,Unknow,1,785
442,Salmonella enterica,4,Unknow,1,682
347,Norovirus unknown,3,Unknow,1,540
256,Norovirus,2,Unknow,1,418
574,Unknow,0,Multiple,0,346
299,Norovirus Genogroup II,1,Multiple,0,262
267,Norovirus Genogroup I,5,Unknow,1,198
429,Salmonella enterica,4,Multiple,0,183
90,Ciguatoxin,15,Fish,11,172
508,Scombroid toxin,11,Fish,11,156
199,"Escherichia coli, Shiga toxin-producing",6,Unknow,1,130
596,Vibrio parahaemolyticus,24,Mollusks,10,117
115,Clostridium perfringens,10,Multiple,0,100
341,Norovirus unknown,3,Multiple,0,99
120,Clostridium perfringens,10,Unknow,1,96
417,Salmonella enterica,4,Chicken,4,88
251,Norovirus,2,Multiple,0,74
60,Campylobacter jejuni,7,Unknow,1,67
262,Norovirus Genogroup I,5,Multiple,0,57
53,Campylobacter jejuni,7,Dairy,14,55
436,Salmonella enterica,4,Pork,12,54
317,Norovirus Genogroup II; Norovirus Genogroup II,12,Unknow,1,54
538,Staphylococcus aureus,17,Unknow,1,52
200,"Escherichia coli, Shiga toxin-producing",6,Vegetable Row Crops,6,48
422,Salmonella enterica,4,Fruits,2,46
535,Staphylococcus aureus,17,Multiple,0,46
9,Bacillus cereus,9,Multiple,0,45
52,Campylobacter jejuni,7,Chicken,4,39
152,Cyclospora cayetanensis,29,Herbs,15,39

In [111]:
#Exporting df
food_df.to_csv(os.path.join(path, 'food_safety_cdc_3.csv'))